{% extends 'base.html.twig' %}
{% block title %}Hello TournoiController!{% endblock %}
{% block body %}


        <h2 class="text-center"><span class="sub-title2 mt-5 "> succées d'inscription </span></h2>



    <br><br><br><br>
{% endblock %}