{% extends 'base.html.twig' %}
{% block title %}Hello TournoiController!{% endblock %}
{% block body %}
    <section class="vs-match-wrapper vs-match-layout1 bg-fixed space-top space-md-bottom" data-bg-src="assets/img/bg/bg-2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-6 text-center text-lg-start">
                    <div class="section-title">
                        <span class="sub-title1 text-theme3">trending match</span>
                        <h2 class="sec-title1 text-white">matchs</h2>
                    </div>
                </div>

            </div>
            <div class="mb-15 filter-active row">
                <div class="col-md-6 col-lg-12 grid-item pubg fortnite csgo">
                    <div class="vs-match">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">

                            <div class="col-lg">
                                <div class="match-about pl-35">
                                    <h3 class="team-name h5 text-white mb-1 mb-lg-2"><a href="team-details.html">esports mirax</a> <span class="text-theme">vs</span> <a href="team-details.html">werewolf</a></h3>
                                    <p class="match-date mb-0">December 25, 2021 4:00 PM</p>
                                </div>
                            </div>
                            <div class="col-auto col-xl-2">
                                <div class="match-time text-white">3 : 8</div>
                            </div>
                            <div class="col-auto col-xl-2 text-end"><a href="https://www.youtube-nocookie.com/embed/uoonAnmKQhI" class="icon-btn1 popup-video"><i class="fab fa-twitch"></i></a> <a href="https://www.youtube-nocookie.com/embed/uoonAnmKQhI" class="icon-btn1 popup-video"><i class="fab fa-youtube"></i></a></div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>
    <section class="vs-counter-wrapper bg-black space">
        <div class="container">
            <div class="row align-items-center text-center text-xl-start justify-content-center justify-content-xl-start">
                <div class="col-auto col-xl mb-20 mb-xl-0">
                    <h2 class="text-white mb-0 mt-n2">Current Total Prize Pool</h2>
                </div>
                <div class="col-auto">
                    <div class="counter-area">
                        <div class="row align-items-center">
                            <div class="col-md-auto">
                                <div class="counter-figure"><span class="sign">$</span> <span class="counter-number">244000</span></div>
                            </div>
                            <div class="col-md-auto my-2 my-md-0">
                                <div class="counter-middle">
                                    <span class="cross text-white">X</span>
                                    <p class="text text-theme3">Crowd Funding</p>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <div class="counter-figure"><span class="counter-number">251</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center text-xl-end">
                    <p class="text-light2 mb-0 fs-xs lh-1 mt-4">The amount displayed may differ slightly from the actual amount</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}