{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block body %}
    <section class="vs-blog-wrapper blog-single-layout1 space-top newsletter-pb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="vs-blog">
            

    <div class="Tours">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>LISTE DES EVENEMENTS </h2>
                    </div>
                </div>
            </div>
             <div class="blog-image image-scale-hover">
                <a href="blog-details.html">
                 <img src="assets/img/blog/blog-d-1-1.jpg" class="w-100" alt="Blog Image">
                </a>
              </div>
              <div class="blog-meta bg-smoke has-border">
                <a href="#">
                  <i class="fal fa-calendar-alt"></i>June 20, 2021 </a>
                <a href="#">
                  <i class="far fa-comments"></i>263 </a>
                <div class="cat-list">
                  <i class="far fa-folder-open"></i>
                  <a href="#">e-sports</a>
                  <a href="#">gaming</a>
                  <a href="#">pro</a>
                </div>
              </div>
              <div class="blog-content bg-smoke">
                <h2 class="blog-title h4 font-theme">
                  <a href="blog-details.html">Progressively visualize intellectual capital rather</a>
                </h2>
                <p>Distinctively impact standards compliant supply chains for installed base core competencies. Continually incubate top-line e-business and value-added ideas. Professionally empower progressive processes without cooperative methods of empowerment. Progressively integrate inexpensive best practices for seamless users. Competently syndicate global partnerships before multifunctional internal or "organic" sources. Energistically facilitate holistic solutions vis-a-vis 24/7 customer service. Objectively pursue granular catalysts for change with open-source leadership.</p>
                <blockquote>
                  <p>Dramatically revolutionize just in time interfaces whereas optimal web services. Completely brand mission-critical e-markets vis-a-vis distinctive interfaces through</p>
                </blockquote>
                <p>Professionally empower progressive processes without cooperative methods of empowerment. Progressively integrate inexpensive best practices for seamless users. Competently syndicate global partnerships.</p>
                <div class="row my-25">
                  <div class="col-md-6 mb-30 mb-md-0">
                    <img src="assets/img/blog/blog-d-1-4.jpg" class="w-100" alt="Blog Image">
                  </div>
                  <div class="col-md-6">
                    <img src="assets/img/blog/blog-d-1-5.jpg" class="w-100" alt="Blog Image">
                  </div>
                </div>
                <h3 class="h4">implement client-centric models through</h3>
                <p>Phosfluorescently procrastinate cross functional functionalities and progressive markets. Competently orchestrate front-end e-markets without interactive paradigms. Compellingly incentivize orthogonal networks rather than mission-critical results.</p>
                <p>Synergistically facilitate cost effective strategic theme areas before low-risk high-yield leadership skills. Interactively provide access to front-end networks vis-a-vis prospective infomediaries. Completely extend distinctive methods of empowerment via covalent strategic theme areas ynamically customize customized process.</p>
                <div class="my-25">
                  <img src="assets/img/blog/blog-d-1-6.jpg" class="w-100" alt="Blog Image">
                </div>
                <h4>implement client-centric models through</h4>
                <p>Phosfluorescently procrastinate cross functional functionalities and progressive markets. Competently orchestrate front-end e-markets without interactive paradigms. Compellingly incentivize orthogonal networks rather than mission-critical results.</p>
                <ul>
                  <li>How will digital activities impact traditional manufacturing.</li>
                  <li>All these digital elements and projects aim to enhance .</li>
                  <li>I monitor my staff with software that takes screenshots.</li>
                  <li>Laoreet dolore magna niacin sodium glutimate aliquam hendrerit.</li>
                  <li>Minim veniam quis niacin sodium glutimate nostrud exerci dolor.</li>
                </ul>
                <p>Interactively provide access to front-end networks vis-a-vis prospective infomediaries. Completely extend distinctive methods of empowerment via covalent strategic theme areas ynamically customize customized process.</p>
                <div class="blog-share-links d-md-flex align-items-center">
                  
                </div>
                
              </div>

        </div>
    </div>
            </div>
            
            
            <div class="vs-comment-form comment-form-layout1 mt-10 mb-30">
              <div class="form-title mb-20">
                <h3 class="mt-n2 font-theme text-normal mb-1">Laisser un commentaire a propos un evenement</h3>
                <p class="">Votre adresse email ne va pas etre affiché.</p>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <textarea placeholder="Ecrivez votre message" rows="10" class="form-control bg-smoke"></textarea>
                  <i class="fal fa-pencil-alt me-2"></i>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" placeholder="Votre Nom" class="form-control bg-smoke">
                  <i class="fal fa-user me-2"></i>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" placeholder="Votre Email" class="form-control bg-smoke">
                  <i class="fal fa-envelope me-2"></i>
                </div>
                <div class="col-12 form-group pt-xl-20 mb-0">
                  <button class="vs-btn gradient-btn">Envoyer Message</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4">
                    <aside class="sidebar-area sticky-top overflow-hidden">
                        <div class="widget widget_search">
                            <form class="search-form"><input type="text" placeholder="Search Here"> <button
                                    type="submit"><i class="far fa-search"></i></button></form>
                        </div>
                        <h3 class="sidebox-title-v2 h5">Latest Updates</h3>
                        <div class="vs-sidebox-v2 px-0 pb-0 pt-20 mb-0">
                            <div class="nav nav-fill tab-menu1 tab-indicator bg-white" role="tablist"><a
                                    class="nav-link active" id="recent-tab" data-bs-toggle="tab" href="#recent"
                                    role="tab" aria-controls="recent" aria-selected="true">Recent</a> <a
                                    class="nav-link" id="popular-tab" data-bs-toggle="tab" href="#popular" role="tab"
                                    aria-controls="popular" aria-selected="false">Popular</a> <a class="nav-link"
                                    id="latest-tab" data-bs-toggle="tab" href="#latest" role="tab"
                                    aria-controls="latest" aria-selected="false">latest</a></div>
                        </div>

              

              <div class="tab-content">
                <div class="tab-pane show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                  <div class="post-thumb-style1 vs-sidebox-v2 pb-1">
                  {% for event in evenements %}
                    <div class="vs-blog d-flex gap-3">

                      <div class="media-img">
                        <a href="blog-details.html">
                          <img  src="{{ asset('/uploads/event/' ~  event.image )}}" width="90" height="90" alt="Recent Post">
                        </a>
                      </div>
                      
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">
                              {{ event.nomeven}}
                           </a>
                        </h4>
                          <div class="blog-meta link-inherit fs-xs mt-1">
                             <a href="blog.html">
                              <i class="fal fa-calendar-alt text-theme2"></i>                           
                              {{event.datevent|date("m/d/Y") }}
                             </a>
                        </div>
                      </div>
                    </div>
                    {% endfor %} 
                    <div class="vs-blog d-flex gap-3">
                    </div>
                    <div class="vs-blog d-flex gap-3">
                     
                      
                    </div>
                    <div class="vs-blog d-flex gap-3">


                      
                    </div>
                  </div>
                 </div>
                <div class="tab-pane" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                  <div class="post-thumb-style1 vs-sidebox-v2 pb-1">
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-5.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">The General Sery vice Administr</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-6.png" alt="Recent Post">
                        </a>
                      </div>
                     
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-7.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Finibus Bonorum et Malorum century</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-8.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Until recently prev-ailing view assumed</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                  <div class="post-thumb-style1 vs-sidebox-v2 pb-1">
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-9.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Richard McClintock, a Latin scholar</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-10.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">McClintock to a passage De Finibus</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-11.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">In particular, the garbled words</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-12.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">McClintock's eye for detail certainly</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div></div>
           </div>
          </aside>
          </div>
          </div>
          </div>
        </section>
        {% endblock %}