{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block body %}


 <div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay>
      <div class="container z-index-common">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title h1 text-white my-0">Evenement</h1>
          <h2 class="breadcumb-bg-title">Bienvenu</h2>
          <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
            <li>
              <a href="index.html">
                <i class="fal fa-home"></i>Home </a>
            </li>
            <li class="active">Evenement detail</li>
          </ul>
        </div>
      </div>
    </div>



    <section class="featured-blog-wrapper bg-light-dark pt-60 pb-25">
        <div class="container">
            <div class="row multibg-color-cat vs-carousel arrow-white arrow-margin" data-arrows="true"
                data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2"
                data-xs-slide-show="1">
                {% for event in evenements %}

                <div class="vs-blog col-xl-3">
                    <div class="position-relative"><a href="actualite/event.html.twig" class="overlay overlay-lg"></a>
                        
                        <div class="blog-image"><img src="{{ asset('/uploads/event/' ~  event.image )}}" width="268.99" height="372.76"
                                alt="Featured Blog Image" class="w-100"></div>
                        <div class="blog-content pos-bottom">
                            <div class="blog-category mb-1"><a href="actualite/event.html.twig">Evenement</a></div>
                            <h3 class="blog-title h5 text-white font-theme lh-base mb-2"><a href="actualite/event.html.twig">
                                    {{ event.nomeven}}</a></h3>
                            <div class="blog-meta text-light-white fs-xs"><a href="blog.html"><i
                                        class="fal fa-calendar-alt"></i>{{event.datevent|date("m/d/Y") }}</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
    </section>
 <section>
 <div class="vs-brand-wrapper bg-dark space">
        <div class="container">
        
            <div class="row vs-carousel arrow-white" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="4"
                data-sm-slide-show="3" data-xs-slide-show="2" data-arrows="true" data-xl-arrows="true"
                data-ml-arrows="true" data-lg-arrows="true">
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-1.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-2.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-3.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-4.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-5.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-1.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-2.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-3.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-4.png" alt="Brand Image"></div>
                <div class="col-xl-2 text-center"><img src="assets/img/brand/brand-5.png" alt="Brand Image"></div>
            </div>
        </div>
    </div>

  </div> 
   </section>   
   
{% endblock %}
