{% extends 'dashboard.html.twig' %}
{% block body %}
        <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body"><br><br><br><br>
                        <h4 class="card-title"><a href="{{ path('list_jeu') }}"><i class="mdi mdi-arrow-left"></i></a>Mettre à jour d'un jeu</h4>
                            <div class="form-group">
                                {{ include('jeu/_form.html.twig', {'button_label': 'Mise à jour'}) }}
                                <button class="text-danger" style="font-size: 14px;background:none; border:none;margin:0;padding:0;cursor: pointer;text-decoration: underline red;" class="btn" type="submit"><i class="mdi mdi-delete"></i></button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
