<!DOCTYPE html>

<title>Metre à jour une catégories</title>

{% block body %}
    <h1>Mettre à jour Categories</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('list_categories') }}">Retour</a>

    {{ include('categories/_supprimer_form.html.twig') }}
{% endblock %}
