{% extends 'dashboard.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body"><br><br><br><br>
                    <h4 class="card-title"><a href="{{ path('list_sponsors') }}"><i class="mdi mdi-arrow-left"></i></a>  Ajouter un sponsor</h4>
                      <div class="form-group">
                           {{ include('sponsors/_form.html.twig') }}
                    </div>
                </div>
    </div>
{% endblock %}
