{% extends 'dashboard.html.twig' %}
{% block body %}
        <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body"><br><br><br><br>
                        <h4 class="card-title"><a href="{{ path('list_sponsors') }}"><i class="mdi mdi-arrow-left"></i></a>Mettre à jour un sponseur</h4>
                            <div class="form-group">
                                {{ include('sponsors/_form.html.twig', {'button_label': 'Mise à jour'}) }}
                                {{ include('sponsors/_supprimer_form.html.twig') }}
                            </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
