{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
  <div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay>
      <div class="container z-index-common">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title h1 text-white my-0">Contact Us</h1>
          <h2 class="breadcumb-bg-title">connect</h2>
          <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
            <li>
              <a href="index.html">
                <i class="fal fa-home"></i>Home </a>
            </li>
            <li class="active">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="vs-contact-wrapper space-top newsletter-pb">
      <div class="container">
        <div class="row gx-60 mb-30">
          <div class="col-lg-6 mb-30">
            <span class="sub-title2 mb-20">Contact</span>
            <h2 class="text-normal mb-md-3">We are here for help you! Arrange a metting.</h2>
            <p class="me-xl-4 pe-xl-5">Globally customize integrated communities with prospective niches. Enthusiastically orchestrate scalable customer service. Exclusive insights, latest news, content and exciting offers.</p>
            <h3 class="h4 text-normal pt-xl-2">Opening Hours</h3>
            <table class="table schedule-table">
              <tr>
                <td>Mon - Fri:</td>
                <td class="text-end">8.00 am - 8.00 pm</td>
              </tr>
              <tr>
                <td>Saturday:</td>
                <td class="text-end">9.00 am - 6.00 pm</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td class="text-end">9.00 am - 6.00 pm</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-6">
            <form action="https://html.vecuro.com/foodelio/zocker/demo/mail.php" method="POST" class="contact-form contact-form-style1 bg-smoke px-60 py-60 border-0">
              <div class="col-12 mb-30">
                <h3 class="text-normal mb-2">Send Us a Message</h3>
                <p class="fs-18">Your email address will not be published*</p>
              </div>
              <div class="form-group mb-20">
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
                <i class="fal fa-user"></i>
              </div>
              <div class="form-group mb-20">
                <input type="text" id="email" name="email" class="form-control" placeholder="Enter Your Email">
                <i class="fal fa-envelope"></i>
              </div>
              <div class="form-group mb-20">
                <textarea class="form-control" id="message" rows="5" cols="50" name="message" placeholder="Your Message"></textarea>
                <i class="fal fa-pencil-alt"></i>
              </div>
              <div class="form-group mb-0">
                <button type="submit" class="vs-btn gradient-btn">Submit Your Quote</button>
                <p class="form-messages mt-20 mb-0"></p>
              </div>
            </form>
          </div>
          <div class="col-12 mt-60">
            <div class="position-relative">
              <div class="map-wrap">
                <div class="google-map" id="google-map"></div>
              </div>
              <div class="info-box3 bg-dark position-absolute start-0 bottom-0 px-40 py-40">
                <h3 class="h4 text-white text-normal mb-2">Washington DC, Services Center</h3>
                <p class="text-white">
                  <i class="fas fa-map-marker-alt me-2"></i>301 Massachusetts Ave, Lunenburg MA 1462
                </p>
                <div class="row mt-lg-4">
                  <div class="col-sm-6 mb-10 mb-sm-0">
                    <div class="d-flex">
                      <span class="icon-btn3 me-3">
                        <i class="fas fa-phone-alt"></i>
                      </span>
                      <div class="media-body align-self-center">
                        <h4 class="h5 text-white font-theme text-normal mb-0">Get In Touch</h4>
                        <a href="tel:0123456789" class="text-white d-inline-block">85 125 1256 12145</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="d-flex">
                      <span class="icon-btn3 me-3">
                        <i class="fal fa-envelope"></i>
                      </span>
                      <div class="media-body align-self-center">
                        <h4 class="h5 text-white font-theme text-normal mb-0">Mail Us</h4>
                        <a href="mailto:zocker@gmail.com" class="text-white d-inline-block">zocker@gmail.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="vs-newsletter-wrapper bg-dark z-index-step1">
      <div class="container">
        <div class="position-relative">
          <div class="inner-wrapper bg-black position-absolute top-50 start-50 translate-middle w-100 px-60 py-40">
            <div class="row align-items-center justify-content-center">
              <div class="col-xl-6 text-center text-xl-start mb-3 mb-xl-0">
                <span class="sub-title2 mt-2">Newsletter</span>
                <h2 class="mb-0 text-white">get monthly updates</h2>
              </div>
              <div class="col-md-10 col-lg-8 col-xl-6">
                <form action="#" class="newsletter-style1 d-md-flex">
                  <input type="email" class="form-control" placeholder="Enter email address">
                  <button class="vs-btn gradient-btn">Subscribe Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
