{% extends 'base1.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><a href="#"><i class="mdi mdi-arrow-left"></i></a>  Ajouter un commentaire</h4>
                      <div class="form-group">
                           {{ include('boutique/_form.html.twig') }}
                    </div>
                </div>
    </div>
{% endblock %}
