{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
<div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay>
      <div class="container z-index-common">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title h1 text-white my-0">Angry Power</h1>
          <h2 class="breadcumb-bg-title">Gamers</h2>
          <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
            <li>
              <a href="index.html">
                <i class="fal fa-home"></i>Home </a>
            </li>
            <li class="active">Team Details</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="vs-team-wrapper space-top newsletter-pb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="vs-box1 d-md-flex mb-20 info-box4 align-items-center">
              <div class="pro-tag position-absolute end-0 top-0 bg-gradient text-white">
                <i class="fas fa-check-circle"></i> pro
              </div>
              <div class="inner-img1">
                <img src="assets/img/team/team-d-1.jpg" alt="Team Image">
              </div>
              <div class="media-body ml-lg-30">
                <table class="info-table mb-0">
                  <tr>
                    <td>Founded:</td>
                    <td>2021</td>
                  </tr>
                  <tr>
                    <td>Ownership:</td>
                    <td>Public</td>
                  </tr>
                  <tr>
                    <td>Website:</td>
                    <td>
                      <a href="#">www.angrypower.com</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Members:</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>Neuss Nordrhe-Westfa</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="vs-member mb-20-layout3">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="h4">Players</h3>
                </div>
                <div class="col-sm-6 pt-2 text-end d-none d-sm-block">
                  <button class="icon1 mr-10 text-theme-hover" type="button" data-slick-prev="#memberslide3">
                    <i class="far fa-angle-left"></i>
                  </button>
                  <button class="icon1 text-theme-hover" type="button" data-slick-next="#memberslide3">
                    <i class="far fa-angle-right"></i>
                  </button>
                </div>
              </div>
              <div class="row link-inherit vs-carousel" id="memberslide3" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1">
                <div class="col-xl-3">
                  <div class="vs-member mb-25">
                    <div class="member-img image-scale-hover mb-15">
                      <a href="player-details.html">
                        <img src="assets/img/member/member-3-1.jpg" alt="Member Image" class="w-100">
                      </a>
                    </div>
                    <h4 class="member-name font-theme mb-0 text-normal h5">
                      <a href="player-details.html">David Smith</a>
                    </h4>
                    <span class="degi fs-xs">Pro-Player</span>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="vs-member mb-25">
                    <div class="member-img image-scale-hover mb-15">
                      <a href="player-details.html">
                        <img src="assets/img/member/member-3-2.jpg" alt="Member Image" class="w-100">
                      </a>
                    </div>
                    <h4 class="member-name font-theme mb-0 text-normal h5">
                      <a href="player-details.html">Robert Broos</a>
                    </h4>
                    <span class="degi fs-xs">Pro-Player</span>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="vs-member mb-25">
                    <div class="member-img image-scale-hover mb-15">
                      <a href="player-details.html">
                        <img src="assets/img/member/member-3-3.jpg" alt="Member Image" class="w-100">
                      </a>
                    </div>
                    <h4 class="member-name font-theme mb-0 text-normal h5">
                      <a href="player-details.html">Carlos Mark</a>
                    </h4>
                    <span class="degi fs-xs">Pro-Player</span>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="vs-member mb-25">
                    <div class="member-img image-scale-hover mb-15">
                      <a href="player-details.html">
                        <img src="assets/img/member/member-3-4.jpg" alt="Member Image" class="w-100">
                      </a>
                    </div>
                    <h4 class="member-name font-theme mb-0 text-normal h5">
                      <a href="player-details.html">Vivi Marian</a>
                    </h4>
                    <span class="degi fs-xs">Pro-Player</span>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="vs-member mb-25">
                    <div class="member-img image-scale-hover mb-15">
                      <a href="player-details.html">
                        <img src="assets/img/member/member-3-5.jpg" alt="Member Image" class="w-100">
                      </a>
                    </div>
                    <h4 class="member-name font-theme mb-0 text-normal h5">
                      <a href="player-details.html">Peter Parker</a>
                    </h4>
                    <span class="degi fs-xs">Pro-Player</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="vs-box1 p-0 mb-30">
              <div class="nav tab-menu1 tab-indicator justify-content-center justify-content-sm-start" role="tablist">
                <a class="nav-link active" id="skill1-tab" data-bs-toggle="tab" href="#skill1" role="tab" aria-controls="skill1" aria-selected="true">GAMES</a>
                <a class="nav-link" id="skill3-tab" data-bs-toggle="tab" href="#skill3" role="tab" aria-controls="skill3" aria-selected="false">TWITCH</a>
              </div>
              <div class="tab-content mt-30">
                <div class="tab-pane show active" id="skill1" role="tabpanel" aria-labelledby="skill1-tab">
                  <div class="skill-box1 d-sm-flex px-30 pb-30 text-center text-sm-start">
                    <div class="media-img position-relative">
                      <img src="assets/img/team/team-d-2.jpg" alt="Team Image">
                    </div>
                    <div class="media-body align-self-center ml-lg-30">
                      <h5 class="fs-20 mb-0 font-theme">Angry Power</h5>
                      <span class="text-theme2 fs-xs">17th Rank</span>
                      <div class="progress style1 mt-10">
                        <div class="progress-bar wins" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar draws" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar losses" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="bar-list list-style-none small">
                        <li>
                          <span class="dot wins"></span> Wins 55%
                        </li>
                        <li>
                          <span class="dot draws"></span> Draws 15%
                        </li>
                        <li>
                          <span class="dot losses"></span> Losses 30%
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="skill-box1 d-sm-flex px-30 pb-30 text-center text-sm-start">
                    <div class="media-img position-relative">
                      <img src="assets/img/team/team-d-3.jpg" alt="Team Image">
                    </div>
                    <div class="media-body align-self-center ml-lg-30">
                      <h5 class="fs-20 mb-0 font-theme">drive world</h5>
                      <span class="text-theme2 fs-xs">17th Rank</span>
                      <div class="progress style1 mt-10">
                        <div class="progress-bar wins" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar draws" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar losses" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <ul class="bar-list list-style-none small">
                        <li>
                          <span class="dot wins"></span> Wins 40%
                        </li>
                        <li>
                          <span class="dot draws"></span> Draws 20%
                        </li>
                        <li>
                          <span class="dot losses"></span> Losses 40%
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="skill3" role="tabpanel" aria-labelledby="skill3-tab">
                  <div class="team-video-area px-30">
                    <div class="row">
                      <div class="col-sm-6 col-xl-4">
                        <div class="team-video-thumb">
                          <div class="thumb-img">
                            <img src="assets/img/team/team-d-video-1.jpg" alt="Video Thumb Image">
                            <div class="tag">Dota 2</div>
                            <a href="#" class="play-btn popup-video">
                              <i class="fas fa-play"></i>
                            </a>
                          </div>
                          <div class="thumb-content">
                            <h5 class="thumb-title">
                              <a href="#">Team Xs VS Water Beast</a>
                            </h5>
                            <span class="total-views">892k Views</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <div class="team-video-thumb">
                          <div class="thumb-img">
                            <img src="assets/img/team/team-d-video-2.jpg" alt="Video Thumb Image">
                            <div class="tag">pubg</div>
                            <a href="#" class="play-btn popup-video">
                              <i class="fas fa-play"></i>
                            </a>
                          </div>
                          <div class="thumb-content">
                            <h5 class="thumb-title">
                              <a href="#">uniqueG VS Plumber</a>
                            </h5>
                            <span class="total-views">389k Views</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <div class="team-video-thumb">
                          <div class="thumb-img">
                            <img src="assets/img/team/team-d-video-3.jpg" alt="Video Thumb Image">
                            <div class="tag">Arcade</div>
                            <a href="#" class="play-btn popup-video">
                              <i class="fas fa-play"></i>
                            </a>
                          </div>
                          <div class="thumb-content">
                            <h5 class="thumb-title">
                              <a href="#">Kong GP VS Moto Rider</a>
                            </h5>
                            <span class="total-views">172k Views</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <div class="team-video-thumb">
                          <div class="thumb-img">
                            <img src="assets/img/team/team-d-video-4.jpg" alt="Video Thumb Image">
                            <div class="tag">Classic</div>
                            <a href="#" class="play-btn popup-video">
                              <i class="fas fa-play"></i>
                            </a>
                          </div>
                          <div class="thumb-content">
                            <h5 class="thumb-title">
                              <a href="#">Hidden heros VS robber</a>
                            </h5>
                            <span class="total-views">157k Views</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <div class="team-video-thumb">
                          <div class="thumb-img">
                            <img src="assets/img/team/team-d-video-5.jpg" alt="Video Thumb Image">
                            <div class="tag">3D Game</div>
                            <a href="#" class="play-btn popup-video">
                              <i class="fas fa-play"></i>
                            </a>
                          </div>
                          <div class="thumb-content">
                            <h5 class="thumb-title">
                              <a href="#">King VS Legendary</a>
                            </h5>
                            <span class="total-views">823k Views</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xl-4">
                        <div class="team-video-thumb">
                          <div class="thumb-img">
                            <img src="assets/img/team/team-d-video-6.jpg" alt="Video Thumb Image">
                            <div class="tag">Ranked</div>
                            <a href="#" class="play-btn popup-video">
                              <i class="fas fa-play"></i>
                            </a>
                          </div>
                          <div class="thumb-content">
                            <h5 class="thumb-title">
                              <a href="#">Marko GG VS Tom Croz</a>
                            </h5>
                            <span class="total-views">275k Views</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vs-box1 mb-25">
              <h4 class="h5 mb-25 mt-n1">Live Stream</h4>
              <div class="hover-shape position-relative">
                <span class="bg-gradient text-white post-time d-none d-sm-inline-block">12 Hour Ago</span>
                <img src="assets/img/video/video-img-3-1.jpg" alt="Video Image" class="w-100">
                <a href="https://www.youtube-nocookie.com/embed/uoonAnmKQhI" class="play-btn overlay-center popup-video">
                  <i class="fas fa-play"></i>
                </a>
              </div>
              <div class="row mt-20 mt-lg-30 flex-row-reverse">
                <div class="col-md-7 mb-15 mb-md-0 text-md-end">
                  <strong class="text-title fs-18 mb-2 mb-md-0 me-md-2 d-md-inline-block d-block">Share Stream:</strong>
                  <div class="d-inline-flex gap-2">
                    <a class="icon-btn3 size-40" href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="icon-btn3 size-40" href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="icon-btn3 size-40" href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="icon-btn3 size-40" href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="author-box d-flex">
                    <img src="assets/img/author/author-1.jpg" alt="Author Image">
                    <div class="media-body align-self-center">
                      <h6 class="name mb-0 text-normal lh-base">
                        <a href="#">David Smith</a>
                      </h6>
                      <span class="fs-xs">250k views</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="h4 font-theme">Social Links</h3>
            <div class="d-inline-flex gap-2 mb-25">
              <a class="icon-btn3 size-40" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="icon-btn3 size-40" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="icon-btn3 size-40" href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="icon-btn3 size-40" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <aside class="sidebar-area sticky-top overflow-hidden">
              <div class="widget widget_search">
                <form class="search-form">
                  <input type="text" placeholder="Search Here">
                  <button type="submit">
                    <i class="far fa-search"></i>
                  </button>
                </form>
              </div>
              <h3 class="sidebox-title-v2 h5">Categories</h3>
              <div class="vs-sidebox-v2">
                <ul class="vs-cat-list1">
                  <li>
                    <a href="blog.html">Football <span class="cat-number">10</span>
                    </a>
                  </li>
                  <li>
                    <a href="blog.html">baseball <span class="cat-number">07</span>
                    </a>
                  </li>
                  <li>
                    <a href="blog.html">basketball <span class="cat-number">05</span>
                    </a>
                  </li>
                  <li>
                    <a href="blog.html">esports <span class="cat-number">02</span>
                    </a>
                  </li>
                </ul>
              </div>
              <h3 class="sidebox-title-v2 h5">Top Games</h3>
              <div class="vs-sidebox bg-smoke">
                <div class="row no-gutters g-2">
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-1.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-2.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-3.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-4.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}
