<form method="post" action="{{ path('supprimer_utilisateur', {'id': user.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>
